<header>
  {{ page.header }}
</header>
<main>
  {{ page.content }}
  <aside class="left sidebar">{{ page.sidebar_first }}</aside>
  <aside class="right sidebar">{{ page.sidebar_second }}</aside>
</main>
<footer>
    {{ page.footer }}
</footer>